/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do Body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fdfdfd;
    color: #333;
    display: flex;
    justify-content: center; /* Centraliza todo o conteúdo horizontalmente */
    align-items: center;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    align-items: center;
    background-color: #faa0cc;
    color: #fff;
    padding: 0.1%; 
    border-bottom-left-radius: 13px;  
    border-bottom-right-radius: 13px;
    width: 100%;
    justify-content: space-between;
}

.logo img {
    width: 60px; 
    height: auto;
    margin-left: 6vh;
}

.titulo {
    flex: 1;
    text-align: center;
    font-size: 1.3em;
}

nav {
    flex: 0 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.opcoes{
    margin-right: 7vh;
    justify-content: space-between;
}

.opcoes li{
    margin-right: 25px;
}

/* Seções */
main {
    max-width: 1000px; /* Ajustado para caber tanto o texto quanto o vídeo */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px;
}

/* Ajustes no layout de texto e vídeo */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Espaçamento entre as colunas */
}

.assunto {
    flex: 2; /* O texto ocupa duas vezes mais espaço que o vídeo */
    text-align: justify;
    margin-right: 20px; /* Margem à direita para afastar do vídeo */
}

.video {
    flex: 1; /* O vídeo ocupa menos espaço que o texto */
    max-width: 100%; /* Garante que o vídeo não ultrapasse o container */
}

video {
    max-width: 100%; /* Garante que o vídeo se ajuste ao container */
    height: auto;
}